@use "../../../styles/base" as base;

.service_card {
  display: flex;
  flex-direction: column;
  background-color: base.$white;
  width: 400px;
  // border-radius: 10px;
  height: 320px;
  // border:1px solid base.$background_light;
  // margin-right: 20px;

  .thumbnailImage {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
  }

  .cardDetails {
    width: 400px;
    height: 130px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 20px;
    background-color: base.$white;
    border-radius: 0 0 5px 5px;

    h3 {
      font: base.$p_reg;
      font-weight: bold;
      color: base.$black;
      margin: 0;
    }
    .serviceDescription {
      font: base.$p_reg;
      color: base.$black;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }

    .serviceDescription {
      grid-column: 1 / 3;
      grid-row: 2 / 2;
    }
  }
}

.serviceProvider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.rating,
.star {
  font-size: 14px;
  color: #000000;
}
