@use "../../../styles/base" as base;
.sidebar {
  overflow-y: auto;
  max-height: 480px;
  width: fit-content;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  // gap: 10px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  position: relative;

  &::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    background-color: #f9f9f9; /* Color of the scrollbar track */
  }

  /* Scrollbar handle */
  &::-webkit-scrollbar-thumb {
    background-color: #646464; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners on the scrollbar thumb */
    border: 2px solid #f9f9f9; /* Creates a border around the scrollbar thumb */
  }

  /* Scrollbar handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker shade when hovering over the scrollbar thumb */
  }

  .message_list {
    border-radius: 5px;
    width: 270px;
    min-height: 90px;
    background-color: #ebe7ed;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid base.$background;

    .reciept {
      // color:#330A4D;
    }
  }
  .active {
    background-color: base.$primary;
  }
  .inActive {
    background-color: base.$white;
  }
  .conversationContainer {
    display: flex;
    background-color: coral;
  }
}
.activeReciept {
  font: base.$p_reg;
  // font-weight: normal;
  color: #ffffff;
}

.avatarImg {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
}

.converationsDetailsContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  width: 100%;
}
.lastMessage {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 14px;
  color: #330a4d;
}
.conversationDate {
  font-size: 13px;
  text-align: right;
}

.inActiveReciept {
  font: base.$p_reg;
  color: #330a4d;
}
.activeMessage {
  // font-weight: normal;
  color: #ffffff;
}
.inActiveMessage {
  // font-weight: normal;
  color: #330a4d;
}

.activeDate {
  // font-size: 13px;
  // text-align: right;
  color: #ffffff;
}
.inActiveDate {
  // font-size: 13px;
  // text-align: right;
  color: #330a4d;
}
