$p_small:
  normal 400 13.3px/1.5 "Inter",
  sans-serif;
$p_reg:
  normal 400 16px/1.5 "Inter",
  sans-serif;
$p_large:
  normal 400 19.2px/1.5 "Inter",
  sans-serif;
$p_xlarge:
  normal 400 23px/1.5 "Inter",
  sans-serif;
$p_xxlarge:
  normal 400 27.6px/1.5 "Inter",
  sans-serif;
$p_xxxlarge:
  normal 400 33.12px/1.5 "Inter",
  sans-serif;

$h1xx:
  normal 800 82.51px/96px "Inter",
  sans-serif;
$h1x:
  normal 700 68.76px/1.5 "Inter",
  sans-serif;
$h1:
  normal 700 57.34px/1.5 "Inter",
  sans-serif;
$h2:
  normal 700 48.12px/1.5 "Inter",
  sans-serif;
$h3:
  normal 700 40.1px/1.5 "Inter",
  sans-serif;
$h4:
  normal 700 33.42px/1.5 "Inter",
  sans-serif;
$h5:
  normal 700 27.85px/1.5 "Inter",
  sans-serif;
$h6:
  normal 700 23.21px/1.5 "Inter",
  sans-serif;

$white: #ffffff;
$black: #000000;
$primary: #0b074c;
$primary-old: #2b0046;
$primary-dark: #1e0030;
$secondary: #ffd662;
$background-secondary: #eeeeee;
$border-color: #e0e0e0;
$background: #eef0ff;
// $background: #f5f5f5;
$background-old: #f1f4ff;
$background-old: #eef0ff;
$background_light: #d6d8fc;
$background_dark: #1e1e1e;
