.gigsParentWrapper {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: px;
  .gigsWrapper {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
  }
}
