@use "../../../../styles/base" as base;
.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
  position: absolute;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid base.$primary;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
}
