@use "../../styles/base" as base;

.main_footer {
  height: 500px;
  width: 100vw;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background-image: url("../../assets/40-resized-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .footer_content_container {
    width: 100%;
    // max-width: 1500px;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;

    .main_footer_primary {
      padding: 50px 50px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .about_company_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .footer_links_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;

        .footer_links_wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .main_footer_secondary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 50px;

      .footer_secondary_links {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}
