@use "../../../styles/base" as base;

.messagesWrapper {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightSideContainer {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
}

.chatContainer {
  width: 80%;
  height: 400px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  backdrop-filter: blur(10px);
}
.message_list {
  max-height: 450px;
  min-height: 430px;
  overflow-y: auto;
  width: 620px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: base.$white;
  // background: linear-gradient(135deg, #2b0046 0%, #8e44ad 50%, #3498db 100%);
  // padding: 40px 20px;
  border-radius: 5px 5px 0px 0px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9f9;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .main_message_content_container{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main_cont_msg {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .chatBubble {
    max-width: 75%;
    padding: 10px 15px;
    border-radius: 20px;
    // margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
  }

  .sent {
    color: base.$primary; /* Light lavender */
    background-color: base.$background_light; /* Dark grey text */
    align-self: flex-end;

    font: base.$p_reg;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    // background-color: aquamarine;
    border-radius: 10px 10px 0 10px;
  }
  .sentTimestamp {
    color: #767477;
    align-self: flex-end;
    // color: base.$background_light;
    font-size: 12px;
  }

  .received {
    background-color: base.$primary; /* Light purple */
    color: #ffffff; /* Light purple */
    // color: #333;

    font: base.$p_reg;

    display: flex;
    align-self: flex-start;
    width: fit-content;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
  }
  .receivedTimestamp {
    color: #767477;

    align-self: flex-start;
    // color: base.$background_light;
    font-size: 12px;
  }
}

.receiptNameBar {
  display: flex;
  width: 620px;
  height: 40px;
  padding: 20px;
  background-color: base.$primary;
  border-radius: 5px 5px 0 0;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  .receiptName {
    font: base.$p_reg;
    color: base.$white;
    font-weight: bold;
  }
}
